Aula 01 - 2 semestre - Revisão (09/08/2024)

1. Crie um programa que solicite três notas para três alunos. Após isso, calcule a média de cada aluno e retorne a média global. Utilize a estrutura de entrada para o usuário.

In [ ]:
aluno1 = []
aluno2 = []
aluno3 = []
media_total = []
soma_total = 0
soma1 = 0
soma2 = 0
soma3 = 0
media_final = 0

for i in range(1,4):
    notas1 = float(input(f'Digite a nota {i} do aluno 1:'))
    aluno1.append(notas1)

for i in range(1,4):
    notas2 = float(input(f'Digite a nota {i} do aluno 2:'))
    aluno2.append(notas2)
for i in range(1,4):
    notas3 = float(input(f'Digite a nota {i} do aluno 3:'))
    aluno3.append(notas3)

for l in aluno1:
    soma1 = soma1 + l
media1 = soma1/3
media_total.append(media1)
print(f'A média da notas do aluno 1 é {media1}')

for l in aluno2:
    soma2 = soma2 + l
media2 = soma2/3
media_total.append(media2)
print(f"A média das notas do aluno 2 é {media2}")

for l in aluno3:
    soma3 = soma3 + l
media3 = soma3/3
media_total.append(media3)
print(f"A média das notas do aluno 3 é {media3}")
print()

for m in media_total:
    soma_total = soma_total + m

media_final = (soma_total)/3
print(f"A média total das 3 médias é {media_final}")

In [ ]:
coberturas = ['pepperoni', 'tomate', 'queijo', 'cebola']

for cobertura_requisita in coberturas:
    if cobertura_requisita == 'tomate':
        print('Desculpe, mas estamos sem tomate')
    else:
        print('Adicione cobertura')

In [ ]:
ordem = ['first', 'second', 'third', 'fourth']
titulo = ['king', 'queen', 'princess', 'duke']

for i in ordem:
    for k in titulo:
        print(i,k)

In [ ]:
#juntando 2 listas em uma. Primeiro elemento é a nota e o segundo a frequencia. 
# lista_n = [8,7,,7.5,9]
#lista_f = [80,85,90,70]

lista_nf = [(8,80), (7,85), (7.5, 90), (9,70)]
lista_nf[3][0]

2. Crie um programa para calcular o desconto no salário em função da tabela de imposto de renda abaixo. Retorne o desconto e o salário líquido. Resolva o exercício sem e com o recurso de lista. 
lista = (desconto,salario liquido)

In [ ]:
salario = float(input('Digite seu salário:'))
lista_desconto = [(2.112,0), (2826.66, 0.075), (3751.06, 0.15), (4664.68, 0.225), (float('inf'), 0.275)]

for limite, taxa in lista_desconto:
    if salario <= limite:
        desconto = salario * taxa
    break 

salario_liquido = salario - desconto 
print(f'O desconto é de {desconto} e o salário líquido é R$ {salario_liquido}')

In [ ]:
salario = float(input('Digite seu salário:'))


if salario <= 2.112:
    desconto = 0
    salario_liquido = salario - desconto
    print(f'O salário líquido é R$ {salario_liquido} e o desconto é {desconto}')
 
    
elif salario > 2.112 and salario <= 2826.66:
    desconto = salario * 0.075
    salario_liquido = salario - desconto
    print(f'O salário líquido é R$ {salario_liquido} e o desconto é {desconto}')

elif salario > 2826.66 and salario <= 3751.06:
    desconto = salario * 0.15
    salario_liquido = salario - desconto
    print(f'O salário líquido é R$ {salario_liquido} e o desconto é {desconto}')

elif salario > 3751.06 and salario <= 4664.68:
    desconto = salario * 0.225
    salario_liquido = salario - desconto
    print(f'O salário líquido é R$ {salario_liquido} e o desconto é {desconto}')

else:
    desconto = salario * 0.275
    salario_liquido = salario - desconto
    print(f'O salário líquido é R$ {salario_liquido} e o desconto é {desconto}')

3. Crie uma função para o exercício 2. Retornar o desconto e o salário líquido. 

def nome ():
    
return salario_liquido, desconto

Aula 2 - Tuplas

In [ ]:
tupla_tupla = (4,5,6),(7,8)
for m in tupla_tupla:
    print(m)

In [ ]:
for m in tupla_tupla:
    for k in m:
        print(k)

In [ ]:
tupla = tuple('String')
print(tupla)

In [ ]:
tupla = tuple(['foo', [1,2,3], True])
tupla

In [ ]:
tupla[1].append(4)
tupla

In [ ]:
tupla = tuple(['foo', [1,2,3], True])
print(tupla)

lista = list(tupla)
print(lista)

lista.insert(0,'FIAP')
lista

posicao_insercao = lista.index('foo') + 1
lista.insert(posicao_insercao, 'foo fighters')

tupla_nova = tuple(lista)
print(tupla_nova)

In [ ]:
(4, None, 'foo') + (6,0) + ('fiap', 1)

In [ ]:
(4, None, 'foo') + (6,0) + ('fiap', 1) * 4

In [ ]:
tupla = (100,1000,10000)

a,b,c = tupla 

print(a)
print(b)
print(c)

In [ ]:
def nome_funcao(parametros):
    a = (20 + 50) / 2
    b = (20 + 50)
    return a, b
nome_funcao

In [2]:
#1.
frutas = ('maçã', 'banana', 'laranja', 'uva')
frutas

('maçã', 'banana', 'laranja', 'uva')

In [3]:
#2.
frutas[1]
print(frutas[1])

banana

In [4]:
#3.
lista2 = list(frutas)
print(lista2)
lista2.insert(2, 'manga')
lista2
frutas_modificadas = tuple(lista2)
frutas_modificadas

['maçã', 'banana', 'laranja', 'uva']

('maçã', 'banana', 'manga', 'laranja', 'uva')

In [ ]:
#4. 
tupla2 = ('abacaxi', 'limão')
frutas_concatenadas = frutas_modificadas + tupla2
frutas_concatenadas

In [ ]:
#5.
for l in frutas_concatenadas:
    if l == 'uva':
        print(l)
        break

Crie um algoritmo para calcular a média dos alunos abaixo. Utilize a estrutura de repetição e tuplas.
(Laura, 85, 90, 88)
(Paulo, 60, 75, 68)
(Ana, 68, 80, 90)
(Jose, 80, 90, 72)

In [28]:
lista_alunos = [('Laura', 85, 90, 88), ('Paulo', 60, 75, 68), ('Ana', 68, 80, 90), ('Jose', 80,90,72)]

for l in lista_alunos:
    nome, nota1, nota2, nota3 = l
    media = (nota1 + nota2 + nota3)/ 3
    print(f"O Aluno {nome} tem media {media:.2f}")

O Aluno Laura tem media 87.67
O Aluno Paulo tem media 67.67
O Aluno Ana tem media 79.33
O Aluno Jose tem media 80.67

Crie um programa para análise de despesas. Utilize a estrutura de repetição e tuplas. 

viagens, 5000, 15000, 25000, 9800
restaurantes, 230, 100, 50, 415
transporte, 50, 15, 89, 115
viagens, 5000, 15000, 25000, 9800

In [32]:
lista_viagens = [('Viagens', 5000, 15000, 25000, 9800), ('Restaurantes', 230, 100, 50, 415), ('Transporte', 50, 15, 89, 115)]

for k in lista_viagens:
    categoria, desp1, desp2, desp3, desp4 = k 
    gastos_totais = desp1 + desp2 + desp3 + desp4
    print(f"Os gastos totais de {categoria} é de R$ {gastos_totais}.")

Os gastos totais de Viagens é de R$ 54800.
Os gastos totais de Restaurantes é de R$ 795.
Os gastos totais de Transporte é de R$ 269.

Crie um programa para catalogação de livros. Utilize a estrutura de repetição e tuplas. 

livros = [

    ('O Senhor dos Aneis', 'J.R.R Tolkien'), ('O Hobbit', 'J.R.R Tolkien'), ('1984', 'George Orwell')
]

In [34]:
livros = [('O Senhor dos Aneis', 'J.R.R Tolkien'), ('O Hobbit', 'J.R.R Tolkien'), ('1984', 'George Orwell')]

for l in livros:
    livro, autor = l
    print(f"O Livro {livro} é do autor {autor}.")

O Livro O Senhor dos Aneis é do autor J.R.R Tolkien.
O Livro O Hobbit é do autor J.R.R Tolkien.
O Livro 1984 é do autor George Orwell.

DICIONÁRIOS E DATAFRANE

In [36]:
estudantes = [
    {'nome': 'Alice', 'Idade':40},
    {'nome': 'Bob', 'Idade':37},
    {'nome': 'Chris', 'Idade':33},

]

print(estudantes)

[{'nome': 'Alice', 'Idade': 40}, {'nome': 'Bob', 'Idade': 37}, {'nome': 'Chris', 'Idade': 33}]

In [38]:
import pandas as pd

dados = pd.DataFrame(estudantes)
dados

    nome  Idade
0  Alice     40
1    Bob     37
2  Chris     33

In [6]:
#Exercicio de criação: crie uma Pandas Series contendo os numeros de 1 a 10

import pandas as pd
numeros = pd.Series(range(1,11))
print(numeros)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
#Acesse o Terceiro elemento de uma Pandas Series e imprima seu valor. 

print(numeros[2])

3

In [ ]:
#Some duas Pandas Series contendo os números de 1 a 5 e os números de 6 a 10
#respectivamente

s1 = pd.Series(range(1,6))
s2 = pd.Series(range(6,11))
print(s1)
print(s2)

soma = s1 + s2
print(soma)

Crie uma Pandas Series contendo os números de 1 a 10 e exiba apenas os valores maiores que 5.

In [17]:
s3 = pd.Series(range(1,11))
#print(s3)

for s in s3:
    if s >= 5:
        print(s)

5
6
7
8
9
10

In [19]:
s3[s3>5]

5     6
6     7
7     8
8     9
9    10
dtype: int64

Calcule a media e o desvio padrão de uma Pandas Series contendo os números de 1 a 10.

In [25]:
s4 = pd.Series(range(1,11))
media = s4.mean()
print(f'A média é: {media}')

desvio_padrao = s4.std()
print(f'O desvio padrão é: {desvio_padrao}')

A média é: 5.5
O desvio padrão é: 3.0276503540974917

Concatene duas Pandas Series contendo números de 1 a 5 e 6 a 10, respectivamente, em uma única series.

In [38]:
s5 = pd.Series(range(1,6))
s6 = pd.Series(range(6,11))

serie_concatenada = pd.concat([s5,s6], axis=1)
print(serie_concatenada)

   0   1
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

Subtraia uma Pandas Series contendo os números de 1 a 10 por uma outra Series contendo os números de 10 a 1.

In [41]:
s10 = pd.Series(range(1,11))
s11 = pd.Series(range(10,0,-1))

sub = s10- s11
print(sub)

0   -9
1   -7
2   -5
3   -3
4   -1
5    1
6    3
7    5
8    7
9    9
dtype: int64

Ordene uma Pandas Series contendo os números de 1 a 10 em ordem crescente

In [ ]:
s12 = pd.Series(range(1,11))
s12.sort_values(ascending= False)

In [45]:
s1 = pd.Series([10,20,20,30,40,50,50], name = 'Serie 1')
s1.duplicated()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
Name: Serie 1, dtype: bool

In [46]:
s1 = pd.Series(range(1,11))
s1[3:8]

3    4
4    5
5    6
6    7
7    8
dtype: int64

Normalização de dados
v1 = (200,100,1000,150)
v2 = (10,20,30,40)
minimo, maximo
s1_min =

In [14]:
#Ex1 
#Sabendo que a tupla tem a informacao sobre a midia digital, qtd de likes e #dislikes. Responda:

dados = (('youtube', 550, 10),
('facebook', 822, 50),
('linkedin', 1226, 5), 
('instagram', 550000, 65))

dados
soma_likes = 0
soma_dislikes = 0 
media_likes = 0 
media_dislikes = 0 
maior = 0 
menor = 0 
lista_taxa_likes = []
lista_taxa_dislikes = [] 

# Qual a soma total de likes?
# Qual a soma total de dislikes?
# Qual a media de likes?
# Qual a média de dislikes? 
# Qual mídia apresenta maior e menor taxa de likes? 
# Faça uma alteração na tupla incluindo spotify com 968 likes e 31 dislikes
# Retorne uma nova tupla. 

for i in dados:
    nome, likes, dislikes = i 
    soma_likes += likes 
    soma_dislikes +=  dislikes
    media_likes = soma_likes/4
    media_dislikes = soma_dislikes/4
    taxa_likes = likes / (likes + dislikes)
    lista_taxa_likes.append(taxa_likes)
    taxa_dislikes = dislikes / (dislikes + likes)
    lista_taxa_dislikes.append(taxa_dislikes)
    maximo = min(lista_taxa_likes)
    minimo = max(lista_taxa_likes)
    

print(f'A soma dos likes é: {soma_likes}')
print(f'A soma dos dislikes é: {soma_dislikes}')
print(f'A media dos likes é: {media_likes}')
print(f'A media dos dislikes é: {media_dislikes}')
print(f'A mídia com maior taxa de likes é: {minimo}')
print(f'A mídia com menor taxa de likes é: {maximo}')
print(lista_taxa_likes)
print(lista_taxa_dislikes)

A soma dos likes é: 552598
A soma dos dislikes é: 130
A media dos likes é: 138149.5
A media dos dislikes é: 32.5
A mídia com maior taxa de likes é: 0.9998818321471099
A mídia com menor taxa de likes é: 0.9426605504587156
[0.9821428571428571, 0.9426605504587156, 0.9959382615759546, 0.9998818321471099]
[0.017857142857142856, 0.05733944954128441, 0.004061738424045491, 0.00011816785289011298]
4

In [20]:
dados
lista = list(dados)
lista.append(('spotify', 968, 31))
nova_tupla = tuple(lista)
nova_tupla

(('youtube', 550, 10),
 ('facebook', 822, 50),
 ('linkedin', 1226, 5),
 ('instagram', 550000, 65),
 ('spotify', 968, 31))

In [ ]:
soma_likes = 0
soma_dislikes = 0 
for k in dados:
    soma_likes += k[1]
    soma_dislikes += k[2]
    taxa_likes = likes / (likes + dislikes)
    taxa_dislikes = dislikes / (dislikes + likes)