In [2]:
import pandas as pd

In [10]:
df_track = pd.read_csv('/Users/diegoc85/Downloads/Dados/Track_202408231946.csv')

<bound method DataFrame.groupby of       TrackId                                               Name  AlbumId  \
0           1            For Those About To Rock (We Salute You)        1
1           2                                  Balls to the Wall        2
2           3                                    Fast As a Shark        3
3           4                                  Restless and Wild        3
4           5                               Princess of the Dawn        3
...       ...                                                ...      ...
3498     3499  Pini Di Roma (Pinien Von Rom) \ I Pini Della V...      343
3499     3500  String Quartet No. 12 in C Minor, D. 703 "Quar...      344
3500     3501               L'orfeo, Act 3, Sinfonia (Orchestra)      345
3501     3502  Quintet for Horn, Violin, 2 Violas, and Cello ...      346
3502     3503                                      Koyaanisqatsi      347

      MediaTypeId  GenreId                                           Composer  \
0               1        1          Angus Young, Malcolm Young, Brian Johnson
1               2        1                                                NaN
2               2        1  F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...
3               2        1  F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...
4               2        1                         Deaffy & R.A. Smith-Diesel
...           ...      ...                                                ...
3498            2       24                                                NaN
3499            2       24                                     Franz Schubert
3500            2       24                                 Claudio Monteverdi
3501            2       24                            Wolfgang Amadeus Mozart
3502            2       10                                       Philip Glass

      Milliseconds     Bytes  UnitPrice
0           343719  11170334       0.99
1           342562   5510424       0.99
2           230619   3990994       0.99
3           252051   4331779       0.99
4           375418   6290521       0.99
...            ...       ...        ...
3498        286741   4718950       0.99
3499        139200   2283131       0.99
3500         66639   1189062       0.99
3501        221331   3665114       0.99
3502        206005   3305164       0.99

[3503 rows x 9 columns]>

In [5]:
df_track.groupby('Name')['Milliseconds'].sum()

Name
"40"                                                           157962
"?"                                                           2782333
"Eine Kleine Nachtmusik" Serenade In G, K. 525: I. Allegro     348971
#1 Zero                                                        299102
#9 Dream                                                       278312
                                                               ...
É que Nessa Encarnação Eu Nasci Manga                          196519
Étude 1, In C Major - Preludio (Presto) - Liszt                 51780
Óculos                                                         219271
Óia Eu Aqui De Novo                                            219454
Último Pau-De-Arara                                            200437
Name: Milliseconds, Length: 3257, dtype: int64

In [6]:
import numpy as np

In [7]:
vetor = np.array([10,20,30,40,50])

In [8]:
vetor

array([10, 20, 30, 40, 50])

In [9]:
matriz_2d = np.array([[10,20], [4,5]])
matriz_2d

array([[10, 20],
       [ 4,  5]])

In [18]:
#Estrutura unidimensionais - pandas series 

s1 = pd.Series([10,20,30,40,50], name = "Serie 1")
s2 = pd.Series([1,2,3,4,5], name = "Serie 2")
s3 = pd.Series(['A', 'B', 'C', 'B', 'A'], name = 'Serie 3')

s_soma = s1 + s2
s_sub = s1 - s2
s_mult = s1 * s2
s_div = s1 / s2

print(s1)
print(s_sub)

0    10
1    20
2    30
3    40
4    50
Name: Serie 1, dtype: int64
0     9
1    18
2    27
3    36
4    45
dtype: int64

In [25]:
s3

0    A
1    B
2    C
3    B
4    A
Name: Serie 3, dtype: object

In [27]:
df = pd.DataFrame({'Serie 1': s1, 'Serie 2':s2, 'Serie 3':s3})

In [28]:
df

   Serie 1  Serie 2 Serie 3
0       10        1       A
1       20        2       B
2       30        3       C
3       40        4       B
4       50        5       A

In [30]:
df['soma'] = df['Serie 1'] + df['Serie 2'] 
df

   Serie 1  Serie 2 Serie 3  soma
0       10        1       A    11
1       20        2       B    22
2       30        3       C    33
3       40        4       B    44
4       50        5       A    55

In [31]:
df.groupby('Serie 3')['soma'].max()

Serie 3
A    55
B    44
C    33
Name: soma, dtype: int64