# Exercício 01 = cálculo da área de um círculo

In [10]:
# Estrutura de entrada
raio = float(input('Digite o valor do raio:'))
real = 3.14159

area_circulo = real * (raio**2)

#Estrutura de saída
print('A área do círculo é:{:.2f}'.format(area_circulo))

A área do círculo é:314.16

In [16]:
var1 = 'f'
var2 = 'i'
var3 = 'a'
var4 = 'p'
var_total = var1 + var2 + var3 + var4 # + é concatenar, juntar
print(var_total)

fiap

In [17]:
x = int(input('Digite um valor:'))
equacao = 2 * x + 10
print('O valor da equação é:', equacao)

O valor da equação é: 30

In [19]:
xis = int(input('Digite um valor:'))
resultado = 25 * xis - 5

print('O resultado da equação é:', resultado)

O resultado da equação é: 245

In [1]:
valor = int(input('Digite um valor:'))
resultado = (10 * valor**2) + (2 * valor) + 10

print('O resultado da equação é:', resultado)

O resultado da equação é: 4050

In [2]:
# Variaveis de entrada - Ex. 1

metro = float(input("insira um valor um metros:"))
milimetros = metro * 1000

print("O valor em milimetros é:", milimetros )

O valor em milimetros é: 25000.0

In [5]:
# Variáveis de entrada - Ex. 2

dias = int(input('Digite o número de dias:'))
horas = int(input('Digite o número de horas:'))
minutos = int(input('Digite o número de minutos:'))
segundos = int(input('Digite o número de segundos:'))

dias_total = dias * 86.400
horas_total = horas * 3.600
minutos_total = minutos * 60

total = dias_total + horas_total + minutos_total + segundos

print('O valor total em segundos é:', total)

O valor total em segundos é: 86.4

In [7]:
# Ex. 3

preco_mercadoria = float(input('Digite o preço da mercadoria:'))
desconto = float(input('Digite o desconto:'))

valor_real_desc = (preco_mercadoria * desconto)/100
preco_final = preco_mercadoria - (preco_mercadoria * desconto)/100

print("O valor do desconto é:", valor_real_desc)
print('O valor da mercadoria com desconto é de R$:', preco_final)

O valor do desconto é: 10.0
O valor da mercadoria com desconto é de R$: 90.0

In [9]:
# Ex. 4

distancia = float(input('Digite a distância:'))
velocidade_media = float(input('Digite a velocidade media:'))
tempo = distancia / velocidade_media

print('O tempo da viagem será de:', tempo, 'horas')

O tempo da viagem será de: 1.6666666666666667

In [23]:
#Ex. 5

print('Como gostaria de calcular a potencia?\n a) V x I\n b) R x I\n c) V x R\n - Digite a letra:')
opcao = input()

if opcao == 'a':
    v = float (input('Digite a tensão(v):'))
    i = float(input('Digite a corrente(i):'))
    p = v * i
    print('A potência é:', p)

elif opcao == 'b':
    r = float(input('Digite a resistência(r):'))
    i = float(input('Digite a corrente(i):'))
    p = r * i * i 
    print("A potência é:", p)

else:
    v = float (input('Digite a tensão(v):'))
    r = float(input('Digite a resistência(r):'))
    p = (v**2 )/ r
    print('A potência é:', p)

Como gostaria de calcular a potencia?
 a) V x I
 b) R x I
 c) V x R
 - Digite a letra:
A potência é: 10000.0

1)

1. Início
2. Insira m
3. Leia m
4. milimetro = m * 1000
5. Exibe milimetro
6. Fim

2)

1. Início 
2. Insira dias, horas, minutos e segundos
3. Leia dias, horas, minutos e segundos
4. segundos = dias + horas + minutos + segundos
5. Exibe segundos
6. Fim

1 dia = 24h = 86.400s
1h = 60 min = 3.600s
1 min = 60s


3)

quantidade_km = 300
quantidade_dias = 3
preco_pagar = quantidade_dias * 60 + quantidade_km * 0.15

In [19]:
# Ex. 6

quantidade_km = float(input('Digite a quantidade de km percorridos:'))
quantidade_dias = float(input('Digite a quantidade de dias pelos quais o carro foi alugado:'))

preco_pagar = quantidade_dias * 60 + quantidade_km * 0.15

print('O preço a pagar pelo uso do carro é de R$', preco_pagar)

O preço a pagar pelo uso do carro é de R$ 225.0

Aula 3 - 15/03

In [ ]:
pip install sympy

In [10]:
from sympy import*
x = Symbol ('x')

In [15]:
x**2 +  10*x + 10
Derivative(x**2)
Integral(x**2)
3*x**2 + 10*x + 10

3*x**2 + 10*x + 10

In [16]:
Derivative(x**2).doit()

2*x

In [17]:
Integral(x**2).doit()

x**3/3

In [18]:
from sympy.plotting import *

In [19]:
plot(x**2)

    100 |\                                                     /
        | .                                                   .
        |
        |  .                                                 .
        |   \                                               /
        |    .                                             .
        |
        |     .                                           .
        |      \                                         /
        |       \                                       /
     50 |--------\-------------------------------------/--------
        |         \                                   /
        |          \                                 /
        |           \                               /
        |            \                             /
        |             ..                         ..
        |               \                       /
        |                ..                   ..
        |                  ..               ..
        |                    ...         ...
      0 |_______________________________________________________
         -10                        0                          10

In [20]:
plot(x**3)

   1000 |                                                      /
        |                                                     /
        |                                                    /
        |                                                   /
        |                                                  /
        |                                                ..
        |                                               /
        |                                             ..
        |                                          ...
        |                                     .....
      0 |------------------...................------------------
        |             .....
        |          ...
        |        ..
        |       /
        |     ..
        |    /
        |   /
        |  /
        | /
  -1000 |_______________________________________________________
         -10                        0                          10

In [21]:
s = "Let´s learn Python"
s[10:]

'n Python'

In [22]:
s = 'Pytho'
s + 'n'

'Python'

In [24]:
s = "Python"
s + " é " + "impressionante"

'Python é impressionante'

In [29]:
nome = input('Digite seu nome:')
idade = int(input('Digite sua idade:'))
cidade = input('Digite sua cidade:')

print("Meu nome é ", nome, ", tenho", idade, "anos", "e moro na cidade de ", cidade, ".")

Meu nome é  Diego Cabral , tenho 38 anos  e moro na cidade de  São Paulo .

In [31]:
"Meu nome é %s, tenho %d anos e moro na cidade de %s" %('Mark', 30, "NY")

'Meu nome é Mark, tenho 30 anos e moro na cidade de NY'

In [33]:
print("Meu nome é %s, tenho %d anos e moro na cidade de %s." %(nome,idade,cidade))

Meu nome é Diego Cabral, tenho 38 anos e moro na cidade de São Paulo.

In [39]:
nome = "João"
grana = 51.34
idade = 22


"%s tem %03d anos e R$%5.2f no bolso." %(nome, idade, grana)

'João tem 022 anos e R$51.34 no bolso.'

In [40]:
nome = 'Diego'
idade = 20
grana = 51.34
print(f"{nome} tem {idade} anos e {grana} no bolso.")

Diego tem 20 anos e 51.34 no bolso

In [41]:
pal = "Python"
char = pal[2]
print(char)

t

In [42]:
fruta = 'banana'
nova_fruta = fruta.replace('a', 'o')
print(nova_fruta)

bonono

In [43]:
frutas = 'apple,banana,orange'
frutas.split(',')

['apple', 'banana', 'orange']

In [44]:
frase = '    Python     '
frase.strip()

'Python'

In [45]:
frase2 = '//// Python'
frase2.strip('/ ')

'Python'

In [51]:
nome = input('Digite seu nome:')
segundo_nome = input('Digite seu segundo nome:')
terceiro_nome = input('Digite seu terceiro nome:')

print(f"Seu nome é {nome.capitalize()} {segundo_nome.capitalize()} {terceiro_nome.capitalize()}")

Seu nome é Diego José Cabral

In [66]:
nome = input('Digite seu nome:')
segundo_nome = input('Digite seu segundo nome:')
terceiro_nome = input('Digite seu terceiro nome:')
cpf = int(input('Digite os 11 dígitos do seu CPF:'))
cidade = input('Digite sua cidade:')

print(nome[0].upper() + nome[1:] + ' ' + segundo_nome[0].upper() + segundo_nome[1:] + ' ' + terceiro_nome[0].upper() + terceiro_nome[1:])
print('Seu CPF é:', cpf)

Joao Da Silva

Crie uma estrutura com 5 inputs, solicitando primeiro, seguno e terceiro nome, deixando a primeira letra de cada nome maiúsculo. Depois cria duas variáveis solicitando o CPF e a sua cidade.

In [79]:

cidade = input('Digite sua cidade:')
if ' ' in cidade:
    nova_cidade = cidade.split(' ')
    nova_cidade[0][0].upper() + nova_cidade[0][1:]
    nova_cidade[1][0].upper() + nova_cidade[1][1:]
    print(nova_cidade[0][0].upper() + nova_cidade[0][1:] + ' ' + nova_cidade[1][0].upper() + nova_cidade[1][1:] )
else:
    print(cidade[0].upper() + cidade[1:])

Rio De

AULA 04 - CONDICIONAIS - 22/03